{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'myapp/styles.css' %}" />
		<title>Document</title>
	</head>
	<body class="bg-sky-500">
		<h1>Страница Index</h1>
		<h4>
			<!-- <a href="/myapp/{{item.id}}"></a> -->
			{% for item in items %}
			<a href="{% url 'myapp:detail' item.id %}">
				Id: {{item.id}} | Имя: {{item.name}} | Цена: {{item.price}} | Описание:
				{{item.description}} <br />
			</a>

			{% endfor %}
		</h4>
	</body>
</html>
